<!DOCTYPE html>
<html>
  <head>
    <title>Slotr</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/material-wfont.min.css">
    <link rel="stylesheet" href="/styles/ripples.min.css">
    <link rel="stylesheet" href="/styles/jquery.dropdown.css">
    <link rel="stylesheet" href="/styles/material.min.css">
    <link rel="stylesheet" href="/styles/fullcalendar.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <script src="/js/dependencies/jquery-1.10.2.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Slotr</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/appointments">Appointments</a></li>
          <li><a href="/appointments/create">New Appointment</a></li>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <% if (username) { %>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><%= username %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Profile</a></li>
              <li><a href="/appointments">Appointments</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="container">
      <%- body %>
    </div>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/material.min.js"></script>
    <script src="/js/dependencies/ripples.min.js"></script>
    <script src="/js/dependencies/jquery.dropdown.js"></script>
    <script src="/js/dependencies/moment.min.js"></script>
    <script src="/js/dependencies/fullcalendar.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
