<div class="col-lg-8">
  <div id="calendar"></div>
</div>
<div class="col-lg-4">
  <form class="form-horizontal">
    <div class="modal-body">
      <fieldset>
        <div class="form-group">
          <label for="intervieweeEmail" class="control-label">Interviewee</label>
          <div>
            <div class="form-control-wrapper"><input type="email" class="form-control empty" id="intervieweeEmail" placeholder="Email"><span class="material-input"></span></div>
          </div>
        </div>
        <div class="form-group">
          <label for="employeeEmail" class="control-label">Invite Employee</label>
          <div>
            <div class="form-control-wrapper"><input type="email" class="form-control empty" id="employeeEmail" placeholder="Email"><span class="material-input"></span></div>
          </div>
        </div>
        <div class="form-group">
          <label>Appointments</label>
          <div class="appointments bs-component"></div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" disabled="disabled" class="btn btn-primary">Create Appointment</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="well_placeholder" style="display:none;">
  <div class="well">
    <button type="button" class="close" data-id="">×</button>
      <span class="start"></span> -
      <span class="end"></span>
  </div>
</div>
<script>
  $(document).ready(function() {
    var calendar = $('#calendar');
    var id = 0;
    var title = "Appointment";
    var events = [];
    calendar.fullCalendar({
      weekends: false,
      defaultView: 'agendaWeek',
      selectable: true,
      selectHelper: true,
      select: function(start, end, jsEvent, view) {
        var event_item = {
          id: id,
          start: start,
          end: end,
          title: title,
          borderColor: '#357ebd',
          backgroundColor: "#009587"
        };
        id++;
        calendar.fullCalendar('unselect');
        calendar.fullCalendar( 'renderEvent', event_item );
        createEvent(event_item);
      },
      selectOverlap: false,
      events: <%- JSON.stringify(events) %>,
      businessHours: {
        start: '9:00',
        end: '19:00',
        dow: [ 1, 2, 3, 4, 5 ]
      }
    });

    function createEvent(event){
      var modal = $('.well_placeholder .well').clone();
      modal.find('.start').text(moment(event.start).format('MMM Do, h:mm a'));
      modal.find('.end').text(moment(event.end).format('MMM Do, h:mm a'));
      modal.find('button').attr('data-id',event.id);
      modal.find('button').on('click',function(e){
        calendar.fullCalendar("removeEvents",[$(this).attr('data-id')]);
        modal.remove();
      });
      $('.appointments').append(modal);
    }
  });
</script>
