<div class="col-lg-10">
  <div id="calendar"></div>
</div>
<div class="col-lg-2">
  <form class="form-horizontal">
    <div class="modal-body">
      <fieldset>
        <div class="form-group">
          <label for="intervieweeEmail" class="control-label">Interviewee</label>
          <div>
            <div class="form-control-wrapper"><input type="email" class="form-control empty" id="intervieweeEmail" placeholder="Email"><span class="material-input"></span></div>
          </div>
        </div>
        <div class="form-group">
          <label for="employeeEmail" class="control-label">Invite Employee</label>
          <div>
            <div class="form-control-wrapper"><input type="email" class="form-control empty" id="employeeEmail" placeholder="Email"><span class="material-input"></span></div>
          </div>
        </div>
        <div class="form-group">
          <label>Appointments</label>
          <div class="appointments"></div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" disabled="disabled" class="btn btn-primary">Create Appointment</button>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  $(document).ready(function() {
    var calendar = $('#calendar');
    var id = 0;
    var events = [];
    calendar.fullCalendar({
      weekends: false,
      defaultView: 'agendaWeek',
      selectable: true,
      selectHelper: true,
      select: function(start, end, jsEvent, view) {
        var event_item = {
          id: id,
          start: start,
          end: end,
          title: 'appointment',
          borderColor: '#357ebd',
          backgroundColor: "#009587"
        };
        id++;
        calendar.fullCalendar('unselect');
        calendar.fullCalendar( 'renderEvent', event_item );
      },
      selectOverlap: false,
      events: <%- JSON.stringify(events) %>,
      businessHours: {
        start: '9:00',
        end: '19:00',
        dow: [ 1, 2, 3, 4, 5 ]
      }
    });
});
</script>
