<div id="calendar"></div>
<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      weekends: false,
      defaultView: 'agendaWeek',
      businessHours: {
        start: '9:00',
        end: '19:00',
        dow: [ 1, 2, 3, 4, 5 ]
      },
      events: {
        url: '/appointments/events',
        cache: true,
      },
    });
});
</script>
